<%= link_to("Back to Homepage", books_path) %>

<h2>Update Book</h2>

<%= form_for(@book) do |f| %>
	<table>
		<tr>
			<th align="left">Book Title</th>
			<td><%= f.text_field(:title) %></td>
		</tr>
	</table>

	<div>
		<%= f.submit("Update Book") %>
	</div>

<% end %>
