<%= link_to("Back to Homepage", books_path) %>

<h2>Showing Book</h2>

<table>
	<tr>
		<th align="left">Book Title</th>
		<td><%= @book.title %></td>
	</tr>
	<tr>
		<th align="left">Date Book Was Added</th>
		<td><%= @book.created_at %></td>
	</tr>
	<tr>
		<th align="left">Date Book Was Updated</th>
		<td><%= @book.updated_at %></td>
	</tr>
</table>
